 {% extends 'base.html' %} {% load bootstrap_tags %}{% block navbar_title %} Pop World - Add Auctions {% endblock navbar_title %}{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <form method="POST" action="{% url 'add_auctions' %}" class="accountform">
            <fieldset class="form-group">
                <legend>Start Auction</legend>
                {% csrf_token %} {{ AF | as_bootstrap }}
                <button type="submit" class="btn btn-lg btn-success">Start Auction</button>
            </fieldset>
        </form>
        {% endblock content %}