{% extends 'base.html' %} {% block content %}
<div class="row row-flex">
    <h1>Pop World Products</h1>

    {% for product in products %}
    <div class="display panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">{{ product.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 product--bar" style="background-image: url('{{MEDIA_URL}}{{ product.image }}')"></div>
                <div class="col-md-8 text-center">
                    <p class="product-description">{{ product.description }}</p>
                    <hr class='block-divider block-divider--longer'>
                    <p class="product-description">Instant Buy Price - {{product.instant_buy_price}}</p>
                    <p class="product-description">This is the {{product.character}} character from the {{product.series}} series</p>
                </div>
            </div>
            <div class="panel-footer">
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity">
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock content %}