{% extends "base.html" %} {% load bootstrap_tags %} {% block navbar_title %} Pop World - Login {% endblock navbar_title %} {% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
            <fieldset class="form-group">
                <legend>LOG IN</legend>
                {% csrf_token %} {{ user_form | as_bootstrap_inline }}

                <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>

                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-sign-in"></i> Login</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}