{% extends "base.html" %} {% load bootstrap_tags %} {% block navbar_title %} Pop World - Register {% endblock navbar_title %}{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <legend>Create a new account</legend>
        <p>Already got an account? <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button></p>
    </div>
</div>
<div class="jumbotron text-center">
    <div class="container">
        <form method="post" action="{% url 'register' %}" class="accountform">
            <fieldset class="form-group">

                {% csrf_token %} {{ user_form | as_bootstrap_inline }} {{ profile_form | as_bootstrap_inline }}
                <button type="submit" class="btn btn-success">Create account</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}